<!-- Sidebar Menu HTML -->
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a>S R M S <span class="ml-2">APP</span></a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="../../assets/images/avatars/admin-avatar.png"
                        alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">Mahesh
                        <strong>P</strong>
                    </span>
                    <span class="user-role">Administrator</span>
                    <span class="user-status d-flex align-items-baseline">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a>
                            <i class="fa fa-shopping-cart"></i>
                            <span>Class</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a>Add Edit Class</a>
                                </li>
                                <li>
                                    <a>Manage Class</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a>
                            <i class="far fa-gem"></i>
                            <span>Subject</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a>Add Edit Subject</a>
                                </li>
                                <li>
                                    <a>Manage Subject</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a>
                            <i class="fa fa-chart-line"></i>
                            <span>Subject Class Link</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a>Add Edit Subject Class Link</a>
                                </li>
                                <li>
                                    <a>Manage Subject Class Link</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a>
                            <i class="fa fa-globe"></i>
                            <span>Student</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a>Add Edit Student</a>
                                </li>
                                <li>
                                    <a>Manage Student</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-menu">
                        <span>Result</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a>
                            <i class="fa fa-globe"></i>
                            <span>Student Result</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a>Add Edit Student Result</a>
                                </li>
                                <li>
                                    <a>Manage Student Result</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a>
                            <i class="fa fa-globe"></i>
                            <span>Notice</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a>Add Edit Notice</a>
                                </li>
                                <li>
                                    <a>Manage Notice</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-menu">
                        <span>Settings</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a>
                            <i class="fa fa-globe"></i>
                            <span>Profile</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a>View Profile</a>
                                </li>
                                <li>
                                    <a>Update Profile</a>
                                </li>
                                <li>
                                    <a>Change Password</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
    </nav>
</div>
<!-- End Sidebar Menu HTML -->